body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(163, 110, 212); */
    background-image: url(bd.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    width: 300px;
    margin: 15% auto 0;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.container h2{
    color: blue;
    font-size: 40px;
}

.container input{
    margin: 5px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.sign_up{
    border-radius: 10px;
}

.bg{
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}